@import "normalize";


$primary-color: #b5d4ee;
$light-blue: #ebf3fc;
$light-pink: #f7e0d4;
$disney: 'Waltograph';
$disney2: 'Mouse Memoirs', sans-serif;

// font-family: 'Playfair Display', serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Rochester', cursive;
// font-family: 'Cinzel Decorative', cursive;

// ----------------------BASE STYLES-----------------------
html {
	font-size: 62.5%;
}

img {
    width: 100%;
}

// -----------------------HERO------------------------------
.hero {    
    height: 95vh;
    background-image: url('/assets/hero.jpg');  
    background-size: 100%;
    background-repeat: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}




// -----------------------NAVIGATION BAR----------------------

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid $primary-color;
    color: white;
}

h1 {
    font-size: 6rem;
    font-family: 'Rochester';
    width: 40%;
    margin-left: 10%;
    opacity: .8;
    margin-top: 15px;
}

.menu {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0;
        li {
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
            opacity: .8;
            list-style: none;
            margin: 0;
            padding-right: 50px;
            padding-left: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
        }
    } 
}

li:hover {
    color: $primary-color;
    transition: all .1s ease-in;
}

ul .rsvp-nav-button {
    border: 2px solid white;
}

.rsvp-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .1s ease-in;
    
}

@media (max-width: 1224px) {
    .menu ul li {
        font-size: 1.5rem
    }

    h1 {
        font-size: 4.3rem;
        margin-bottom: 0;
        margin-top: 25px;
        margin-left: 5%;
    }


}

@media (max-width: 780px) {
    .menu {
        width: 40%;
        ul {
            margin-right: 2%;
        }
    }
}



// ----------------------------VENUE----------------------------

.venue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100vw;
    background-color: $light-blue;
    position: absolute;
    bottom: -350px;
}

.venue-box {
    width: 550px;
    height: 80%;
    background-color: white;
    margin: 50px;
}

@media (max-width: 1600px) {
    .venue {
        bottom: -300px;
    }
}

@media (max-width: 1050px) {
    .venue {
        bottom: -175px;
    }
}

@media (max-width: 825px) {
    .venue {
        bottom: -100px;
    }
}

@media (max-width: 635px) {
    .venue {
        bottom: -75px;
    }
}


// --------------------BACKGROUND IMAGE --------------------------

.background-image {
    height: 50%;
    width: 100vw;
    background-color: blue;
    // background-image: url('/assets/hero.jpg');
    // background-size: 100%;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    bottom: 0;
    h1 {
        border: 1px solid black;
    }
}
