@import "normalize";


$primary-color: #9de1fa;
$light-blue: #89cbea;
$light-pink: #f7e0d4;
$main-font-color: #003366;
$disney: 'Waltograph', cursive;
$disney2: 'Mouse Memoirs', sans-serif;

// font-family: 'Playfair Display', serif;
$nunito: 'Nunito', sans-serif;
// font-family: 'Rochester', cursive;
// font-family: 'Cinzel Decorative', cursive;

// ----------------------BASE STYLES-----------------------
html {
	font-size: 62.5%;
}

img {
    width: 100%;
}

//  ------------- BASE TEXT STYLE --------------

h1 {
    font-family: $disney;
    color: white;
    font-size: 8rem;
    width: 40%;
    margin: 20px;
    opacity: .9;
}

h2 {
    color: $main-font-color;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

// -----------------------HERO------------------------------
.hero {    
    background-image: url('../assets/background/cm-steamwhistle-L.jpg');
    height: 100vh;  
    background-size: 100%;
    background-repeat: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}


// -----------------------NAVIGATION BAR----------------------

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid $primary-color;
}


.menu {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: 0;
        margin-right: 100px;
        list-style: none;
        li a {
            font-family: $nunito;
            font-size: 2rem;
            color: white;
            opacity: .8;
            list-style: none;
            margin: 0;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            letter-spacing: 2px;
            text-decoration: none;
            &:hover {
                color: #003366;
                transition: all .1s ease-in;
            }
        }
    } 
}


ul .rsvp-nav-button {
    border: 2px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rsvp-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .1s ease-in;
    
}

.date {
    color: #003366;
    position: absolute;
    top: 98px;
    left: 230px;
    font-size: 3rem;
    font-weight: bold; 
    margin: 0;
    font-family: 'Merienda', cursive;
}


// ------------------------BACKGROUND IMAGES----------------------
.image1 {
    background-image: url('../assets/background/cm-cityview-L.jpg');
}

.image2, .image4 {
    background-image: url('../assets/background/cm-blackandwhite-L.jpg')
}

.image3 {
    background-image: url('../assets/background/cm_arcade_L.jpg')
}


.background-image {
    display: block;
    height:550px;
    width:100%;
    background-attachment: fixed;    
    background-size:100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
}

// -------------------INFO-BOX SECTIONS------------------


.section {
    height: 500px;
    width: 100vw;
    background-color: $primary-color;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.info-box {
    width: 550px;
    height: 400px;
    background-color: rgba(247, 250, 255, 0.75);
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        margin: 0;
        color: $main-font-color;
        letter-spacing: 2px;
        }
    h2 {
        text-align: center;
        margin: 0;
        font-size: 3rem;
        padding-top: 7px;
        letter-spacing: 5px;
        font-weight: 700;
        }
    .be-our-guest {
        font-family: $disney;
        font-size: 7rem;
    }
}

.gallery-h2 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    padding-top: 7px;
    letter-spacing: 6px;
    font-weight: 700;   
}

.info-date {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.move-down {
    padding-top: 10px;
}

.inner-info-box {
    justify-content: center;
    align-items: center;
    p {
        font-size: 2rem;
        line-height: 40px;
    }
}


// ---------------------OUR STORY----------------------------

.story-pic {
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
        width: 200%;
        object-fit: cover;
    }
}

.story-box {
    display: flex;
    flex-direction: column;
    p {
        font-size: 1.3rem;
        line-height: 20px;
        padding-top: 10px;
        letter-spacing: 1px;
    }
}

// ----------------------RSVP--------------------------------



// ----------------------VENUE----------------------------


.venue {
    i {
        font-size: 3.5rem;
        color: $main-font-color;
        line-height: 50px;
        padding-top: 7px;
    }
    i:hover {
        color: rgba(65,73,75,0.5);
        cursor: pointer;
    }
}


// ----------------------HOTEL----------------------------

.hotel {
        button {
            color: $main-font-color;
        }
        button:hover {
            background-color: $primary-color;
            cursor: pointer;
        }
}

.book-here {
    background-color: rgba(247, 250, 255, 0.75);
    border: 2px solid white;
    margin: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
        transition: all .3s ease-in-out;
        background-color: none;
    }
}


// ----------------------REGISTRY----------------------------

.registry-box {
    p {
        font-size: 2.5rem;
        line-height: 50px;
        padding-top: 10px;  
    }
}

// -----------------------GALLERY-----------------------------

.gallery {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}




